/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== alert.css =====================================================
  == Styles specific to the alerts dialog.
  ======================================================================= */

@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.alertBox {
  border-top: 1px solid;
  -moz-border-top-colors: #F1F1F1;
  border-right: 1px solid;
  -moz-border-right-colors: #E2E2E2;
  border-left: 1px solid;
  -moz-border-left-colors: #E2E2E2;
  border-bottom: 1px solid;
  -moz-border-bottom-colors: #D1D1D1;
  background-color: #FFFFFF;
  color: #666666;
}

.alertImageBox {
  padding: 8px 0;
  width: 80px;
  background-color: #E6E6E6;
}

.alertTextBox {
  padding: 8px;
  -moz-padding-start: 16px;
  width: 255px;
}

.alertTitle {
  font-weight: bold;
  font-size: 110%;
  color: #222222;
}

#alertImage {
  max-width: 48px;
  max-height: 48px;
  list-style-image: url(chrome://global/skin/alerts/notification-48.png);
}

#alertNotification[clickable="true"] {
  cursor: pointer;
}

label {
  cursor: inherit;
}

.alertText[clickable="true"] {
  color: -moz-nativehyperlinktext;
  text-decoration: underline;
}

.alertText[clickable="true"]:hover:active {
  color: -moz-activehyperlinktext;
}

@keyframes alert-animation {
  from {
    opacity: 0;
  }
  6.25% {
    opacity: 1;
  }
  93.75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.alertCloseButton {
  list-style-image: url("chrome://global/skin/icons/close2.png");
  -moz-appearance: none;
  -moz-image-region: rect(0, 16px, 16px, 0);
  padding: 0;
  margin: 6px;
  border: none !important;
}

.alertCloseButton > .toolbarbutton-text {
  display: none;
}

.alertCloseButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.alertCloseButton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}
