html {
  background: white;
  margin: 50px 40px 20px 40px;
}

@media (max-width: 640px), (max-height: 640px) {
  html {
    margin: 50px 40px 20px 40px;
  }
}

body {
 padding: 16px;
  max-width: 600px;
  min-width: 200px;
  background-color: #fff;
}

h1 {
  padding-top: 4px;
}

#errorPageContainer {
  background-color: #fff;
  border: 0px solid #AAA;
  border-radius: 5px;
  box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 30px 35px 30px 37px;
  line-height: 1.5;
  font-size: 12px;
}

#errorLongContent {
  padding: 1px 0;
  margin-top: -20px;
  color: black !important;
  box-shadow: none !important;
}

body.private #errorLongContent {
  margin-top: -100px !important;
  padding-right: 165px;
}

body.private #errorTitleText {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background: transparent !important;
  border: 0px solid #AAA !important;
  box-shadow: none !important;
}

body.private > #errorPageContainer {
  background-image: none;
}

body.private #errorTitle {
  background-image: url("chrome://browser/skin/pb-enabled.png") !important;
  background-position: center right !important;
  background-repeat: no-repeat !important;
  height: 128px !important;
  width: 99.5% !important;
}

body.normal #errorTitle {
  margin-top: 0 !important;
}

body.normal > #errorPageContainer {
  background-position: top right !important;
  background-repeat: no-repeat !important;
}

#clearRecentHistoryDesc {
  margin-top: 2em;
}

#startPrivateBrowsingDesc > button {
  -moz-margin-start: 0;
}

#moreInfo:-moz-dir(rtl) {
  background-position: top right;
}

#moreInfoText {
  margin-bottom: 0;
}

#moreInfoLinkContainer {
  margin-top: 0.5em;
}
