/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  font-size: 10pt;
  margin: 50px 40px 20px 40px;
}

@media (max-width: 640px), (max-height: 640px) {
  html {
    margin: 13px 16px 16px 16px;
  }
}

body {
  margin: auto;
  max-width: 540px;
  min-width: 200px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #f7f7f7;
  color: #646464;
}

ul, ol {
  margin: 0;
  margin-inline-start: 40px;
  padding: 0;
}

a {
  color: rgb(17, 85, 204);
  text-decoration: none;
}

#errorPageContainer {
  margin: auto;
  max-width: 540px;
  min-width: 200px;
  text-align: left;
}

#errorPageContainer #errorTitleText {
  color: #333;
  margin: 0;
  padding-top: 105px;
  margin-bottom: 15px;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.25em;
  text-align: left;
  background: url('chrome://global/skin/icons/locked_page.png') no-repeat;
}

#errorLongContent {
  padding: 0 0px 24px;
}

#errorLongContent > h2 {
  color: #666;
  font-size: 1.2em;
  font-weight: normal;
  margin: 10px 0;
}

#errorShortDesc > p {
  white-space: pre-wrap;
}

.expander > button {
  background: url("chrome://browser/skin/section_expanded.png") left center no-repeat !important;
  border: none !important;
  cursor: pointer;
  padding: 0px 16px;
  color: rgb(66, 133, 244) !important;
  box-shadow: none !important;
  text-shadow: none !important;
  font-size: .875em;
}

.expander > button:-moz-dir(rtl) {
  background-position: right center;
}

.expander[collapsed] > button {
  background-image: url("chrome://browser/skin/section_collapsed.png") !important;
}

.expander[collapsed] > button:-moz-dir(rtl) {
  background-image: url("chrome://browser/skin/section_collapsed-rtl.png") !important;
}

.indent {
  padding-inline-start: 16px;
}

button {
  -moz-appearance: none;
  background: rgb(76, 142, 250);
  border: 0;
  color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0;
  font-size: .875em;
  font-family: Arial, 'Segoe UI', Tahoma, sans-serif;;
  padding: 10px 24px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
}

button:active {
  background: rgb(50, 102, 213);
}
