/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.searchbar-textbox {
  width: 6em;
  min-width: 6em;
}

.autocomplete-textbox-container {
  -moz-box-align: stretch;
}

.textbox-input-box {
  margin: 0;
}

/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  -moz-margin-start: 3px;
}

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  padding: 0;
  -moz-margin-start: 1px;
  -moz-padding-end: 2px;
  -moz-box-align: center;
  background: none;
  border: none;
  background: transparent !important;
  box-shadow: none !important;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 0;
  border: 0;
}

.searchbar-dropmarker-image {
  list-style-image: url("chrome://global/skin/icons/tb_dropdown.png");
}

/* ::::: search-go-button ::::: */

.search-go-container {
  color: graytext;
  font-style: italic;
  -moz-box-align: center;
  margin: 0;
  -moz-margin-start: 2px;
  -moz-margin-end: 2px;
  background-origin: border-box;
  border: none;
}

.search-go-button {
  list-style-image: url("chrome://browser/skin/search-magnifying-glass.png");
  -moz-image-region: rect(0px 19px 19px 0px);
  opacity: 0.3;
}

.search-go-button:hover {
  opacity: 1;
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
