/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * The default namespace for this file is XUL. Be sure to prefix rules that
 * are applicable to both XUL and HTML with '*|'.
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Page background */
*|*:root {
  -moz-appearance: none;
  padding: 18px;
  color: #000;
  background-color: #FCFCFC;
}

html|html {
  font: message-box;
}

/* Use the new in-content colors for #contentAreaDownloadsView. After landing
   of bug 989469 the colors can be moved to *|*:root */
*|*#contentAreaDownloadsView {
  background: #f1f1f1;
  color: #424e5a;
}

/* Content */
*|*.main-content {
  background-color: #FCFCFC;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
}
