/*
 *  This defines the look-and-feel styling of the error pages.
 *  (see: netError.xhtml)
 *
 *  Original styling by William Price <bugzilla@mob.rice.edu>
 *  Updated by: Steven Garrity <steven@silverorange.com>
 *              Henrik Skupin  <mozilla@hskupin.info>
 */

html {
  font-size: 15px;
  margin: 50px 40px 20px 40px;
  text-align: center;
}

@media (max-width: 640px), (max-height: 640px) {
  html {
    margin: 13px 16px 16px 16px;
  }
}

body {
  margin: auto;
  max-width: 540px;
  min-width: 200px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #f7f7f7;
  color: #646464;
}

ul, ol {
  margin: 0;
  -moz-margin-start: 40px;
  padding: 0;
}

a {
  color: rgb(17, 85, 204);
  text-decoration: none;
}

#errorPageContainer {
  margin: auto;
  padding-bottom: 20px;
  max-width: 540px;
  min-width: 200px;
  text-align: left;
}

#errorPageContainer #errorTitleText {
  color: #333;
  margin: 0;
  padding-top: 105px;
  margin-bottom: 15px;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.25em;
  background: url('chrome://global/skin/icons/error_network_generic.png') no-repeat;
  text-align: left;
}

#errorLongContent {
  padding: 0 0px 24px;
  text-align: start;
}

#errorShortDesc > p {
  white-space: pre-wrap;
}

button {
  -moz-appearance: none;
  background: rgb(76, 142, 250);
  border: 0;
  color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0;
  font-size: .875em;
  font-family: Arial, 'Segoe UI', Tahoma, sans-serif;;
  padding: 10px 24px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
}

button:active {
  background: rgb(50, 102, 213);
}

#errorContainer {
  display: none;
}

#securityOverrideDiv {
  padding-top: 10px;
}

#securityOverrideContent {
  background-color: InfoBackground;
  color: InfoText;
  padding: 10px;
  border-radius: 10px;
}

/* Custom styling for 'blacklist' error class */

:root.blacklist #errorPageContainer {
  border-radius: 5px;
  margin-top: -10px;
  max-width: 778px;
  min-width: 718px;
  background-image: url(chrome://global/skin/icons/malware_icon_v2.png);
  background-position: right 30px top 100px;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: none;
}

:root.blacklist {
  background: url(chrome://global/skin/icons/stripe.png) rgb(140, 0, 0);
  background-attachment:fixed;
  margin: 50px 10px 20px 10px !important;
}

@media (max-width: 640px), (max-height: 640px) {
  :root.blacklist {
    margin: 50px 10px 20px 10px !important;
  }
}

.blacklist > body {
  margin: auto !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

:root.blacklist[dir="rtl"] #errorPageContainer {
  background-position: left bottom, left top;
}

:root.blacklist #errorTitle {
  background-image: none !important;
}

:root.blacklist #errorTryAgain {
  display: none;
}

:root.blacklist #errorLongContent {
  -moz-padding-end: 220px;
}

#ignoreWarning {
  padding: 6px 32px !important;
}

#ignoreWarningButton {
  border: none !important;
  color: #0000FF !important;
  box-shadow: none !important;
}
