@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.notification-inner {
  border: 0 !important;
}

notification {
  background: linear-gradient(#E5E5E5, #D9D9D9 97%, #B6BAC0);
  color: black;
}

notification[type="info"] { 
  background: linear-gradient(#fff2b7, #fae691 97%, #878787);
}

notification[type="critical"] {
  background: linear-gradient(#FFAEAE, #FF8F8F 97%, #878787);
}

#sync-notifications > notification {
  background: linear-gradient(#fff2b7, #fae691);
}

.messageText > .text-link {
  color: inherit !important;
  text-decoration: underline;
}

.messageImage {
  width: auto;
  height: auto;
  -moz-margin-start: 10px;
  -moz-margin-end: 4px;
}

#sync-notifications > notification .messageImage {
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}

/* Default icons for notifications */

notification[type="info"] .messageImage,
.messageImage[type="info"] {
  list-style-image: url("chrome://global/skin/icons/allowed_notifications.png");
}

notification[type="warning"] .messageImage,
.messageImage[type="warning"] {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

notification[type="critical"] .messageImage,
.messageImage[type="critical"] {
  list-style-image: url("chrome://global/skin/icons/blocked_notifications.png");
}

.messageCloseButton {
  -moz-appearance: none;
  padding: 0px;
  -moz-margin-start: 7px;
  -moz-margin-end: 7px;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  border-image: none !important;
}

popupnotification .messageCloseButton {
  margin-top: -4px !important;
  -moz-margin-end: -5px !important;
}

/* Popup notification */

.popup-notification-description {
  max-width: 24em;
}

.popup-notification-learnmore-link {
  margin-top: 1em !important;
}

.popup-notification-learnmore-link:not([href]) {
  display: none;
}

.popup-notification-button-container {
  margin-top: 17px;
}

/*
XXX: apply styles to all themes until bug 509642 is fixed
@media (-moz-windows-default-theme) {
*/

.popup-notification-menubutton[type="menu-button"] {
  margin: 0;
  padding: 0;
}

.popup-notification-menubutton > .button-menubutton-button {
  -moz-appearance: none;
  padding: 1px 5px 1px 5px;
  margin: 0;
  border: none;
  box-shadow: none;
  background: none;
}

.popup-notification-menubutton > .button-menubutton-dropmarker {
  padding: 0;
  margin: 0;
}

.popup-notification-menubutton {
  border: 1px solid;
  border-color: #aaa;
}

.popup-notification-menubutton:hover {
  border-color: #999;
}

.popup-notification-menubutton[open="true"],
.popup-notification-menubutton[checked="true"] {
  transition: border-color 200ms;
  border-color: #4080fa;
}

.popup-notification-menubutton:-moz-focusring > .button-menubutton-dropmarker {
  outline: 1px dotted ThreeDDarkShadow;
  outline-offset: -3px;
}

.popup-notification-closebutton {
  -moz-margin-end: -7px;
  margin-top: -7px;
}
