/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== preferences.css =====================================================
  == Styles used by the XUL prefwindow element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

prefpane .content-box {
  margin-inline-start: -8px !important;
  margin-inline-end: -10px !important;
  padding-inline-start: 8px !important;
  padding-inline-end: 10px !important;
}

prefwindow {
  padding: 0px;
}

prefpane {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

prefwindow[type="child"] {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

prefwindow[type="child"] > prefpane {
  padding: 0px;
}

.prefWindow-dlgbuttons {
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

prefwindow[type="child"] .prefWindow-dlgbuttons {
  padding: 0px;
}

radio[pane] {
  -moz-appearance: none;
  margin: 0px 1px 0px 1px;
  padding: 1px 3px 1px 3px;
  min-width: 4.5em;
  border-top: 6px solid transparent;
  color: #777;
}

.paneSelector {
  margin: 0px;
  padding-inline-start: 10px;
  padding-inline-end: 4px;
  color: -moz-FieldText;
}

.paneButtonIcon {
  width: 32px;
  height: 32px;
}

radio[pane]:hover {
  color: rgb(70, 78, 90);
  cursor: pointer;
}

radio[pane][selected="true"] {
  border-top-color: rgb(78, 87, 100);
  color: rgb(70, 78, 90);
  cursor: default;
}
