/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== tabbox.css =================================================
  == Styles used by XUL tab-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tabs ::::: */

tabbox > tabs {
  min-height: 32px;
  border-bottom: 1px solid #d1d1d1;
}

/* ::::: tabpanels ::::: */

tabpanels {
  -moz-appearance: none;
  background: transparent;
  border: none;
  border-top: 0;
  padding: 13px;
  color: #000000;
}

/* ::::: tab ::::: */

tabbox tab {
  background: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 4px solid transparent;
  color: #7f7f7f;
  padding: 0 10px;
  min-width: 4em;
  text-align: center;
}

tabbox tab:not([selected="true"]):hover {
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

tabbox tab[selected="true"] {
  border-bottom: 4px solid #7f7f7f;
  color: #333;
}

tabbox .tabs-left {
  -moz-margin-start: 18px;
}

tabbox .tabs-right {
  -moz-margin-end: 18px;
}

.tab-text {
  margin: 0 !important;
}

tab:-moz-focusring > .tab-middle {
  /* Don't specify the outline-color, we should always use initial value. */
  outline: 1px dotted;
}

prefpane tabbox,
dialog tabbox {
  -moz-margin-start: -9px !important;
  -moz-margin-end: -11px !important;
}
