/* Tab Modal Prompt boxes */
tabmodalprompt {
  transition: 200ms opacity;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  padding-bottom: 130px;
  font-family: sans-serif; /* use content font not system UI font */
}

.mainContainer {
  border-radius: 3px;
  color: #333;
  background-color: white;
  background-clip: padding-box;
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  min-width: 400px;
  padding: 0;
}

.topContainer {
  padding: 20px;
}

.buttonContainer {
  padding: 9px 16px 11px;
}

tabmodalprompt:active .mainContainer {
  animation-duration: 180ms;
  animation-iteration-count: 1;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

.mainContainer:active {
  animation-play-state:paused !important;
  transform: none !important;
  animation-name: none !important;
}
