:root {
  --field-color: #ffffff;
}

#toolbar-menubar:not(:-moz-lwtheme) {
  -moz-appearance: menubar !important;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
  color: -moz-menubartext;
}

#nav-bar:not(:-moz-lwtheme) textbox,
#PersonalToolbar:not(:-moz-lwtheme) textbox,
#TabsToolbar[tabsontop=false]:not(:-moz-lwtheme) textbox {
  background-color: var(--field-color);
  color: var(--toolbarbutton-color);
}

/* Private browsing indicator */

#main-window[privatebrowsingmode=temporary] #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/Privacy-48.png") center no-repeat;
  width: 40px;
}