#toolbar-menubar:not(:-moz-lwtheme) {
  -moz-appearance: menubar !important;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
  color: -moz-menubartext;
}

/* Private browsing indicator */

#main-window[privatebrowsingmode=temporary] #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/Privacy-48.png") center no-repeat;
  width: 40px;
}