/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/inContentUI.css");

@namespace html "http://www.w3.org/1999/xhtml";

#preferences-home {
  display: block;
}

page[title="Options"] {
  margin: 0px; 
  padding: 6px 23px;
  background-image: linear-gradient(#FAFAFA, #FCFCFC 28px);
}

.main-content {
  border: 0px solid transparent;
  background: transparent;
}

.indent-small {
  font-size: 1.5em;
  color: #5C6166;
}

.landingButton {
  -moz-box-align: center;
  -moz-box-orient: vertical;
  border: none;
  background: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 10px;
  padding: 3px;
}

.landingButton:hover {
  cursor: pointer;
}

.landingButton:hover:active {
  border: 2px solid #0065CC;
  padding: 2px;
  box-shadow: 0 0 0 1px #E3EFFE inset;
}

.landingButton-label {
  margin-top: 4px;
}

.landingButton-icon {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("chrome://browser/skin/preferences/Options.png");
  background-repeat: no-repeat;
}

.preference-icon {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("chrome://browser/skin/preferences/Options.png");
  background-repeat: no-repeat;
  margin: 0 20px;
}

.preference-icon[type="general"],
.landingButton-icon[type="general"] {
  background-position: 0 0;
}


.preference-icon[type="content"],
.landingButton-icon[type="content"] {
  background-position: -64px 0;
}

.preference-icon[type="applications"],
.landingButton-icon[type="applications"] {
  background-position: -96px 0;
}

.preference-icon[type="privacy"],
.landingButton-icon[type="privacy"] {
  background-position: -128px 0;
}

.preference-icon[type="security"],
.landingButton-icon[type="security"] {
  background-position: -160px 0;
}

.preference-icon[type="advanced"],
.landingButton-icon[type="advanced"] {
  background-position: -192px 0;
}

.preference-icon[type="sync"],
.landingButton-icon[type="sync"] {
  background-image: url("chrome://browser/skin/preferences/Options-sync.png");
}

caption {
  font-size: 20px;
}

.heading {
  height: 50px;
  margin-bottom: 15px;
  -moz-box-align: center;
  border-bottom: 1px solid #BABABA;
  -moz-box-align: center;
  color: #5C6166;
}

prefpane > .content-box {
  overflow: auto;
}

/* Applications Pane Styles */

#applications-content {
  padding: 15px;
}

#handlersView {
  -moz-appearance: none;
  border: 1px solid rgba(31,64,100,0.4);
  overflow-y: auto;
}

/* XXX This style is for bug 740213 and should be removed once that
   bug has a solution. */
description > html|a {
  cursor: pointer;
}

/* XXX Styles Below can be removed once bug 660726 lands */
.nav-button {
  list-style-image: url(chrome://mozapps/skin/extensions/navigation.png)!important;
  padding: 0px!important;
  padding-bottom: 1px!important;
  margin-top: -4px!important; 
  margin-bottom: 0px!important; 
  background: transparent!important;
  background-clip: padding-box!important;
  border: 1px solid!important;
  border-color: transparent!important;
  border-width: 5px!important;
  color: black!important;
  box-shadow: none!important;
}

.header-button[disabled="true"] > .toolbarbutton-icon {
  opacity: 0.3!important;
}

#back-btn:-moz-locale-dir(ltr),
#forward-btn:-moz-locale-dir(rtl) {
  -moz-image-region: rect(0, 18px, 18px, 0)!important;
}

#back-btn:-moz-locale-dir(rtl),
#forward-btn:-moz-locale-dir(ltr) {
  -moz-image-region: rect(0, 36px, 18px, 18px)!important;
}

.nav-button:hover:not([disabled="true"]) {
  border-image: url("chrome://global/skin/icons/browser_action_hot.png") 5 fill repeat stretch !important;
}

.nav-button:hover:active:not([disabled="true"]) {
  border-image: url("chrome://global/skin/icons/browser_action_pressed.png") 5 fill repeat stretch !important;
}

.header-button > .toolbarbutton-text {
  display: none;
}
